<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LET_Auftragsverwaltung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <LET_Auftragsverwaltung.Properties.Settings>
            <setting name="Database_Name" serializeAs="String">
                <value>auftrags</value>
            </setting>
            <setting name="Database_IP" serializeAs="String">
                <value>192.168.16.158</value>
            </setting>
            <setting name="Database_Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Database_Login_Name" serializeAs="String">
                <value>auftragsverwaltung</value>
            </setting>
            <setting name="Database_Login_Password" serializeAs="String">
                <value>aSd89+=pÜ</value>
            </setting>
        </LET_Auftragsverwaltung.Properties.Settings>
    </userSettings>
</configuration>