<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LET_Auftragsverwaltung.Properties.Settings.auftragsConnectionString"
            connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};Server=192.168.16.192;Database=auftrags;User=admin;Password=cola0815;Option=3;"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>