<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LET_Auftragsverwaltung.Properties.Settings.auftragsConnectionString"
            connectionString="Driver={MySQL ODBC 3.51 Driver};server=192.168.16.192;database=auftrags;user=admin;pwd=cola0815;option=3;uid=admin;password=cola0815"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>